* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0;
}

.left-side img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: #111;
    overflow-y: auto; 
    padding-bottom: 3rem; 
}

.right-side .sign-up-top {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 2rem; 
    padding-bottom: 2rem;
}

.right-side .sign-up-top #become {
    color: #D50000;
}

.right-side .sign-up-mid {
    display: flex;
    flex-wrap: wrap;
    background-color: #282828;
    box-shadow: 0 0 15px 5px rgba(213, 0, 0, 0.8);
    padding-top: 0.2rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    width: 100%;
}

.right-side .sign-up-mid form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding-left: 1rem;
}

.right-side .sign-up-mid .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-right: 2rem;
}

.right-side .sign-up-mid label {
    font-size: 0.9rem;
    padding-top: 0.6rem;
    color: #ffffffc7;
    font-weight: bold;
}

.right-side .sign-up-mid input {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.9rem;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    transition: border-color 0.3s;
}

.right-side .sign-up-mid input:focus {
    outline: none;
    border-color: #D50000;
}

.right-side .sign-up-mid p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffffe1;
    padding-left: 1rem;
}

.right-side .sign-up-bottom {
    margin-top: 2rem;
    text-align: left;
    width: 100%;
    padding-left: 3rem;
    padding-top: 1rem;
}

.right-side .sign-up-bottom button {
    width: 35%;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #D50000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(75, 75, 75, 0.596);
}

.right-side .sign-up-bottom button:hover {
    background-color: #ff1a1a;
}

.right-side .sign-up-bottom p {
    color: #fff;
    margin-top: 1rem;
    padding-top: 0.8rem;
}

.right-side .sign-up-bottom a {
    color: #D50000;
    text-decoration: none;
    font-weight: bold;
}

.right-side .sign-up-bottom a:hover {
    text-decoration: underline;
}
